<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Bookstore</title>
    <style>
        .navbar-nav {
        display: inline-block;
        }

        .navbar-nav>li {
        display: inline-block;
        }
        body{
            background-image:url("../static/imgs/Background.jpg");
            background-size: cover;
        

        }
        #logo{
            margin: auto;
            width:70px;
            height:70px;
        }
        h1 {text-align: center;font-family:georgia;}
        p {text-align: center;}
    </style>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-dark bg-dark">

    <div class="navbar-nav">
      <li>
        <a class="nav-item nav-link" href="{{ url_for('index') }}">Home&ensp;</a>
     </li>
      <li><a class="nav-item nav-link" href="{{ url_for('add') }}">Add Book&ensp;</a></li>
      <li><a class="nav-item nav-link" href="{{ url_for('list') }}">List of Books&ensp;</a></li>
      <li><a class="nav-item nav-link" href="{{ url_for('buy') }}">Buy Books&ensp;</a></li>
      
    </div>


</nav>
    {% block content %}

    {% endblock %}

        
        <script src="" async defer></script>
    </body>
</html>